@font-face {
    font-family: 'counter-strikeregular';
    src: url('../font/cs_regular-webfont.woff2') format('woff2'),
         url('../font/cs_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
	position: sticky;
	top:0;
    display:flex;
    background-color: white;
    color:black;
    justify-content:space-between;  
	z-index:1000;    
	width:100%;
	height:10vh;   
	border-bottom:#000 solid 2px;  
}

header a{
	text-decoration:none;
}

p{
	font-size: medium;
	text-align: justify;
}

.title{
	display:flex;
	align-items: center;
}

.title h1 span{
	text-decoration: none;
	font-family:'counter-strikeregular';
}
.title h1{
	font-family:'counter-strikeregular';
}

#CS{
    color:#1c2b49;
}

#GO{
    color:#ffa500;
}

.logo{
    height:9.5vh;
	width:auto;
}

nav{
	top:0;
	margin:0;
	display: flex;
	background-color: white;
	align-items: center;
	justify-content:space-around;
}

nav a{
	margin: 0 10px;
	font-family:'counter-strikeregular';
	text-transform: uppercase;
    font-size:21px;
	color:black;
	text-decoration: none;
	font-weight: bold;
	padding: 3.5vh;
}

nav :hover{
	background-color:#ffa500;
	color:#1c2b49;
}

div{
	overflow: hidden;
}

#introduction{
	height:100vh;
	width: 100%;
	background-image: url(../images/fondaccueil.jpg);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(2,50%);
	grid-template-rows: repeat(2,50%);
}

#introduction .imgContainer{
	grid-row: 1;
	grid-column: 2;
}

#introduction .presbtn{
	grid-row: 2;
	grid-column: 2;
	text-align: center;
	padding: 20px;
}

#introduction a{
	color: white;
	font-family:'counter-strikeregular';
	text-decoration: none;
	font-size:2em;
	text-align: center;
	border-radius: 10px;
	padding: 20px;
	transition: 0.24s;
}

#introduction a:hover{
	background-color: #121c30;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.475);
}

#presentation{
	width:100%;
	background-color:#121c30;	
}

.col {
	flex-direction: column;
}

#actuTxt{
	color: white;
	padding: 20px;
	margin: 30px 50px;
	box-shadow: 10px 5px 5px rgb(0 0 0 / 48%);
	background-color: #b97900;
	border-radius: 20px;
	border: 2px solid black;
}

.containerPres{
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.presTxt{
	width: 50%;
}

.presTxt p{
	padding: 10px;
	margin:10px;
	color:white;
	background:#b97900;
	border: solid 3px black;
	border-radius:20px;
	line-height: 2em;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.475);
	text-align: justify;
}

#img5VS5{
	width: 380px;
	margin-top:15px;
	background-color: #000;
	padding: 20px;
	border-radius: 24px;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.475);
}

#screenshot{
	width: 600px;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.475);
}

.imgContainer{
	text-align: center;
	margin: auto;
}

.img-titre p{
	color:white;
}

#fullLogo{
	width: 500px;
	
}

.presImg,.maquette{
	color: #ffff;
	text-align: center;
	margin: 20px;
}

.presImg p{
	margin-top: 10px;
}

#presP1{
	margin-bottom: 20px;
}


#skin{
	width:100%;
}

.skincsgo{
	background-color:#094c5a;
}


.skincsgo1{
	width: 50%;
	margin:20px;
	position: relative;
	overflow: hidden;
	text-align: center;
	background-color: #121c30;
	border-radius:20px;
	color:white;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.475);
}


#text3{
	padding:10px;
	text-align: justify;
	margin: 25px 0;
	line-height:20px;
}


#imgskin{
	background-color: rgba(0, 0, 0, 0);
	border-radius:0;
	box-shadow:none;
}

#skin1{
	width: 100%;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.475);

}

#skin2{
	width: 100%;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.475);
}

.addiction{
	background-color: #2c3643;
}

#presP4{
	padding-top:50px;
	padding-bottom:50px;
}

.addiction1{
	width: 50%;
	background-color:#121c30;
	border-radius: 20px;
	margin: 20px;
	position: relative;
	overflow: hidden;
	text-align: center;
	color:white;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.475);
	
}

#text4{
	padding:25px;
	text-align: justify;
	color: #ffffff;
}


#imgaddiction{
	width: 100%;
	height: 100%;
	border-radius: 20px;	
}

.cquoi{
	background-color:#121c30;
	height:50%;	
}

#presP5{
	margin-top:20px;
}


.cquoi1{
	background-color:#1c2b49;;
	border-radius: 20px;
	margin: 20px;
	position: relative;
	overflow: hidden;
	text-align: center;
	color:white;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.475);
	
}

#text5{
	padding:25px;
	text-align: justify;
	color: #ffa500;
	margin-bottom: 25px;
	
}


#esl2014{
	width: 100%;
	height: 95%;
	border-radius: 20px;
}


.esportcsgo{
	background-color: rgb(28, 28, 28);
}

h2{
	font-size:4em;
	font-family:'counter-strikeregular';
	text-align:left;
	padding-top:10vh;
	margin-left:7%;
	text-decoration: underline;
	color:white;
}

.esport1{
	width: 80%;
	background-color:#1d5532;
	border-radius: 20px;
	margin: 20px;
	position: relative;
	overflow: hidden;
	text-align: center;
	color:white;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.475);
	
}

#text6{
	padding:25px;
	text-align: justify;
	color: #ffffff;
}


#equipe{
	width: 100%;
	height: 95%;
	border-radius: 20px;	
}

div#about{
	background-color: #121c30;
	text-align: center;
	
}

div#about .us{
	height: 90vh;
	width: 100%;
	background-image: url("../images/aboutbg.png");
	background-size: cover;
	margin: 10px auto;
	border: 3px solid white;
}

#about p{
	font-family: 'counter-strikeregular';
}

#about ol{
	color: white;
	font-size: large;
	font-family: 'counter-strikeregular';
	padding: 10px;
	width: 80%;
	margin: auto;
	line-height: 30px;
}
#about li{
	border-bottom: 2px solid white;
}

.us{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 100px;
}

#about h3{
	color: white;
	font-size: xx-large;
	text-decoration: underline;
	margin: 30px;
}

#about p#chosen {
	font-size: xx-large;
	padding: 20px;
	margin: 10px;
	border: 2px solid white;
	background-color: #ffa500;
	color: white;
}

#about p#conclusion{
	color: white;
	font-size: x-large;
	margin: 10px;
}

.portrait{
	text-align: center;
}

.portrait img{
	width: 200px;
	border: 5px solid black;
	margin: 20px;
}

.name{
	color: white;
	font-size: 3em;
	padding: 20px;
}

.portrait p{
	color: white;
	font-size: 2em;
	background-color: #ffa500;
	padding: 10px;
}

#about .conclusion{
	background-color: #ffa500;
	padding: 10px;
	margin: 20px;
	border: 2px solid white;
}

.link {
	background-color: #ffa500;
	border-radius: 10px;
	padding: 10px;
	color: white;
	font-size: xx-large;
	margin: 30px;
	border: 2px solid white;
}

.link a{
	color: white;
}

.link a:hover{
	color: #121c30;
}

.maquette img{
	width: 70%;
}
.maquette p{
	text-align: center;
}
.maquette{
	margin: 30px;
}

.actualites{
	border-top: 2px solid white;
	margin-top: 20px;
}

@media screen and (max-width: 768px){
	header{
		flex-direction: column;
		position: static;	
		height: auto;
	}

	div{
		position: relative;
	}

	.presTxt{
		width: 90%;
	}

	.presTxt p{
		line-height: 20px;
	}
	
	nav{
		flex-direction: column;
	}

	header a{
		border-bottom: 2px solid black;
	}

	.containerPres{
		flex-direction: column;
		width: 100%;
	}

	nav a{
		border: 2px solid black;
		width: 100%;
	}
	#introduction{
		grid-template-columns: 1fr;
	}
	#introduction img{
		width: 80%;
	}
	#introduction a{
		background-color: #121c30;
	}
	h2{
		font-size: xx-large;
		padding: 0;
		padding: 10px;
	}
	#actuTxt{
		margin: 10px;
	}
	.presImg{
		width: 90%;
		margin-bottom: 50px;
	}
	#screenshot,#img5VS5,img{
		width: 100%;
	}
	.skincsgo1{
		width: 95%;
	}
	.addiction1{
		width: 90%;
		height: auto;
	}
	p{
		font-size: medium;
	}
	.esport1{
		width: 95%;
	}

	div#about .us{
		flex-direction: column;
		height: auto;
		background: none;
	}

	.portrait{
		border: 2px solid white;
		font-size: 0.75em;
		width: 100%;
	}

	#about p#chosen{
		font-size: x-large;
	}

	.conclusion li{
		font-size: medium;
		text-align: justify;
		line-height: 20px;
		margin: 10px;
	}
	#about a{
		color: #121c30;
	}
	.link{
		width: 95%;
		margin: auto;
	}
}
