@font-face {
    font-family: 'counter-strikeregular';
    src: url('font/cs_regular-webfont.woff2') format('woff2'),
         url('font/cs_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
	position: sticky;
	top:0;
    display:flex;
    background-color: white;
    color:black;
    justify-content:space-between;  
	z-index:1000;    
	width:100%;
	height:10vh;     
}

header a{
	text-decoration:none;
}

.title{
	display:flex;
	align-items: center;
}

.title h1 span{
	text-decoration: none;
	font-family:'counter-strikeregular';
}
.title h1{
	font-family:'counter-strikeregular';
}

#CS{
    color:#1c2b49;
}

#GO{
    color:#ffa500;
}

.logo{
    height:10vh;
	width:auto;
}

nav{
	top:0;
	margin:0;
	display: flex;
	background-color: white;
	align-items: center;
	justify-content:space-around;
	padding-top: 8px;
	padding-left: 3%;
	padding-right: 4%;
	padding-bottom: 6px;
	align-items:stretch;
	padding: 0;
}

nav a{
	margin-left: 20px;
	font-family:'counter-strikeregular';
	text-transform: uppercase;
    font-size:21px;
	color:black;
	text-decoration: none;
	font-weight: bold;
	padding:12px;
	padding-top:20px;
}

nav :hover{
	background-color:#ffa500;
	color:#1c2b49;
}

h2{ 
	font-size:4em;
}

#introduction{
	height:100vh;
	width: 100%;
	background-image: url(img/fondaccueil.jpg);
	background-size: cover;
	background-position: center;
}

.ensavoirplus{
	padding-left:1000px;
	padding-top:400px;
}


.ensavoirplus a{
	color: white;
	font-family:'counter-strikeregular';
	text-decoration: none;
	font-size:2em;
}


#presentation{
	height:2000px;
	width:100%;
	background-color:rgb(104, 104, 104)
	
}

#presentation h2{
	font-family:'counter-strikeregular';
	color:white;
	padding-top:110px;
	padding-left:7%;		
}



.container{
	display:grid;
	grid-template-columns:2fr 1fr;
    grid-template-rows:1fr 1fr;
}

.text1{
	height:170px;
	width:700px;
	background:#121c30;
	border: solid 0.5px black;
	border-radius:20px;
	text-align:center;
	overflow:hidden;
	padding:20px;
	grid-column-start:1;
	grid-row-start:1;
	margin-top:30px;
	margin-left:50px;
}

.text2{
	height:170px;
	width:400px;
	background:#121c30;
	border: solid 0.5px black;
	border-radius:20px;
	text-align:center;
	overflow:hidden;
	padding:20px;
	grid-column-start:1;
	grid-row-start:2;
}

.presTxt{
	font-size:1.2em;
	color:white;
}
.img5VS5{
	width: 380px;
	height:auto;
	grid-column-start:2;
	grid-row-start:1;
	margin-top:15px;
	
}

.miniature{
	width: 100px;
	height:auto;
	grid-column-start:2;
	grid-row-start:1;
}
